# Database connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/provia_db?schema=public"

# Authentication secret (used by jose / HS256 for secure session signing)
JWT_SECRET="replace-with-a-random-32-character-or-longer-secret-string"

# Base Application URL (used for QR code resolution and metadata)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Node Environment
NODE_ENV="development"